---
layout: cat-page
permalink: /categories/
title: Categories
---


{% include site-aside.html %}
{% for category in site.tags %}
  <hr>
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.tags[category_name] %}
    <article class="archive-item">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
      <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" style="font-size: 15px;">( {{ post.date | date: "%B %d, %Y" }} )</time>
      {% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
    </article>
    {% endfor %}
  </div>
{% endfor %}
