<aside class="aside  typeset{% if include.align == "left" %}  aside--left{% endif %}">

    <section class="">
      <h3>Index</h3>
      {% for item in site.tags %}
        <li class="">
          <a href="#{{ item | first | slugify }}" title="Category - {{ item | first }}">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ item | first }}</h5>
            </div>
          </div>
          </a>
        </li>
      {% endfor %}
    </section>


</aside>
